body{
    background-color: rgb(66, 40, 214);
}

h1  {
    color:rgb(231,188,24);
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 54px;
    font-weight: 800;
    font-style: oblique;
    text-align: center;
    text-shadow: grey 2px 2px 10px;
}

.hero-links2 {
    display: flex;
}
.hero-link2 {
    margin: 10px;
    font-size: 200px;
    color: aquamarine;
}
.hero-link2:hover {
    margin-right: 10px;
    font-size: 200px;
    color: rgb(231,188,24);
}

table {
    border: 5px solid rgb(5, 5, 5);
    border-top-left-radius: 100px;
    border-top-right-radius: 0;
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 100px;
}

p {
    border: 5px solid rgb(5, 5, 5);
    border-radius: 10px;
    padding: 10px 25px;
    margin-right: 50px;
    background-color: aquamarine;
}

/* Кнопка возвращения на главную страницу */
button{
    width: 170px;
    height: 70px;
    border-radius: 10px;
    background-color: rgb(51, 245, 45);
    position: relative;
    bottom: 0%;
    left: 50%;
    transform: translate(-50%, 0);
    font-weight: bolder;
    font-size: 16px;
    align-items: center; 
    margin-top: 20px;
}
button:hover{
    background-color: red;
}
a{
    text-decoration: none;
    color: rgb(5, 5, 5);
}

a:hover{
    text-decoration: none;
    color: rgb(5, 5, 5);
}